<div id="formulario">
    <h1>Crear videojuego (REACTIVE)</h1>
    <form [formGroup]="formulario">
        <div>
            <input type="text" placeholder="Título" formControlName="titulo">
            <input type="text" placeholder="Plataforma" formControlName="plataforma">
        </div>
        <div>
            <input type="submit" (click)="crear()" value="Crear">&nbsp;<button (click)="visualizarDatos()">Visualizar</button>
        </div>
    </form>
    {{ formulario.value | json }}
</div>