nav {
    padding-top: 2em;
    height: 3em;
    background-color: rgb(19, 2, 88);
    text-align: center;
}
#menu {
    display: inline;
}
#menu li {
    display: inline;
    padding-left: 0px;
    padding-left: 50px;
    padding-right: 50px;
}
a:link {
    text-decoration: none;
}

.seccion_activa {
    font-weight: bolder;
    color: yellow;
}

a {
    color:white;
}

.cursiva {
    font-style: italic;
}

