<nav>
    <ul id="menu">
        <li><a [routerLink]="['/inicio']" [routerLinkActive]="['seccion_activa','cursiva']">Inicio</a></li>
        <li><a routerLink="/crear" routerLinkActive="seccion_activa cursiva">Crear</a></li>
        <li><a routerLink="/crear-template" routerLinkActive="seccion_activa cursiva">Crear (Template)</a></li>
        <li><a routerLink="/crear-reactive" routerLinkActive="seccion_activa cursiva">Crear (Reactive Forms)</a></li>
        <li><a routerLink="/consultar" routerLinkActive="seccion_activa cursiva">Consultar</a></li>
        <li><a routerLink="/consultarPorPlataforma/XBOX SERIES S" routerLinkActive="seccion_activa cursiva">Juegos XBOX</a></li>
        <li><a routerLink="/consultarPorPlataforma/PS5" routerLinkActive="seccion_activa cursiva">Juegos PS5</a></li>
        <li><a routerLink="/consultaPlataforma">Juegos por Plataforma</a></li>
        <li><a routerLink="/ayuda" routerLinkActive="seccion_activa cursiva">Ayuda</a></li>
    </ul>
</nav>